<!doctype html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Document</title>
</head>
<body>
    <h1>atividades </h1>
    <form action="" method="post">{% csrf_token %}
        <p>matricula do estudante <input type="number" name="matricula" id="matricula"></p>
        <p>atividades complementares <input type="text" name="atividade" id="atividade"></p>
        <p>trabalho com a turma <input type="text" name="descricao" id="descricao"></p>
        <input type="submit" value="confirmar">
    </form>
</body>
</html>