<!doctype html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Document</title>
</head>
<body>
    <h1>Cadastro professor</h1>
    <form action="{% url 'cadastro_professor' %}" method="post">{% csrf_token %}
        <p>cpf <input type="number" name="cpf" id="cpf"></p>
        <p>nome <input type="text" name="nome" id="nome"></p>
        <p>matricula <input type="number" name="matricula" id="matricula"></p>
        <p>data de nascimento <input type="date" name="data_de_nascimento" id="data_de_nascimento"></p>
        <p>email <input type="email" name="email" id="email"></p>
        <p>telefone <input type="text" name="telefone" id="telefone"></p>
        <input type="submit" value="cadastrar">
    </form>
</body>
</html>