<!doctype html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Document</title>
</head>
<body>
    <h1>PEI</h1>
    <form action="{% url 'pei' %}" method="post">{% csrf_token %}
        <p>matricula do estudante <input type="number" name="matricula_estudante" id="matricula_estudante"></p>
        <p>matricula do professor <input type="number" name="matricula_professor" id="matricula_professor"></p>
        <p>data de validade do PEI <input type="date" name="validade" id="validade"></p>
        <input type="submit" value="cadastrar">
    </form>

</body>
</html>