<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <h1>Cadastro </h1>
    <form action="{% url 'cadastro_sistema' %}" method="post">{% csrf_token %}
        <p>cpf <input type="text" name="cpf" id="cpf"></p>
        <p>nome <input type="text" name="nome" id="nome"></p>
        <p>email <input type="text" name="email" id="email"></p>
        <p>senha <input type="password" name="senha" id="senha"></p>
        <p><input type="submit" value="cadastrar"></p>
    </form>
</body>
</html>