<html>
    <body>
        <h1> PLANEJAMENTO EDUCACIONAL INDIVIDUALIZADO - PEI </h1>

        <table>
            <tr>
                <th>
                    Identificação
                </th>
            </tr>
            <tr>
                <td>
                    Nome Estudante:
                </td>
                <td>

                </td>
            </tr>
            <tr>
                <td>
                    idade:
                </td>
                <td>

                </td>
                <td>
                    Ano/serie:
                </td>
                <td>

                </td>
            <tr>
                <td>
                    Professor(a) Regente:
                </td>
                <td>

                </td>
            </tr>
            <tr>
                <td>
                    Equipe de Elaboração do PEI <br>
                </td>
            </tr>
            <tr>
                <td>
                    Tempo de Validade do PEI: <br>
                </td>
            </tr>
        </table>

        <br>

        <table>
            <tr>
                <th>
                   Diagnóstico
                </th>
             </tr>
            <tr>
                <td>
                    Estudante possui laudo:
                    ( ) Sim
                    ( ) Não
                    ( ) Em fase de desenvolvimento
                </td>
            </tr>
            <tr>
                <td>
                    Diagnostico
                </td>
            </tr>
            <tr>
                <td>

                </td>
            </tr>
            <tr>
                <td>
                    Ano em que foi descoberto o diagnostico:
                </td>
            </tr>
            <tr>
                <td>
                    Realiza algum Atendimento fora da escola:
                    ( ) Sim
                    ( ) Não
                </td>
            </tr>
            <tr>
                <td>
                    Identificar qual tipo de atendimento e periodicidade <br>
                    (Exemplos: Fonoaudiólogo, Fisioterapeuta, Psicopedagoga, etc)
                </td>
            </tr>
            <tr>
                <td>

                </td>
            </tr>
            <tr>
                <td>
                    Breve historico escolar <br>
                    Destacar momentos relevantes da escolarização do estudante
                </td>
            </tr>
            <tr>
                <td>

                </td>
            </tr>
            <tr>
                <td>
                    Adaptações, estratégias e procedimentos metodológicos já utilizados, que obtiveram êxito com o(a) estudante:
                </td>
            </tr>
            <tr>
                <td>

                </td>
            </tr>
        </table>

        <br>

        <table>
            <tr>
                <th>
                    Perfil do(a) estudante
                </th>
            </tr>
            <tr>
                <td>
                    Principais interesses
                </td>
                <td>

                </td>
            </tr>
            <tr>
                <td>
                    Principais Habilidades
                </td>
                <td>

                </td>
            </tr>
            <tr>
                <td>
                    Não gosta de
                </td>
                <td>

                </td>
            </tr>
            <tr>
                <td>
                    Principais Dificuldades e Desafios:
                </td>
                <td>

                </td>
            </tr>
            <tr>
                <td>
                    Outras informações relevantes
                    (indicar de forma sucinta elementos de apoio oferecidos pela família,
                    profissionais clínicos e outros atendimentos/tratamentos/encaminhamentos):
                </td>
            </tr>
            <tr>
                <td>

                </td>
            </tr>
        </table>

        <table>
            <tr>
                <th>
                    Encaminhamentos sugeridos / adaptações
                </th>
            </tr>
            <tr>
                <td>
                        1. Adaptações de acesso ao cúrriculo <br>
                            ( ) Organização dos agrupamentos de estudantes (tamanho, homogeneidade/heterogeneidade, etc) <br>
                            ( ) Organização do Espaço Físico e Condições Ambientais (Ex. Sala em fileiras, Sala em círculo, local específico para o(a) estudante, aquisição de mobiliário específico, etc) <br>
                            ( ) Organização dos Recursos Didáticos (Ex. Confecção / utilização de materiais adaptados; aquisição de recurso específico, etc)<br>
                            ( ) Organização Didática da Aula (Ex. Utilizar imagens em slides, materiais concretos, modificar tipo de atividade, utilizar quadro de rotina, etc) <br>
                </td>
            </tr>
            <tr>
                <td>
                    Descrever/Especificar as adaptações selecionadas:
                </td>
            </tr>
            <tr>
                <td>
                        2. Adaptações de objetivos <br>

                            ( ) Priorização de habilidades básicas de atenção, participação e adaptabilidade <br>
                            ( ) Adequação de objetivos, de acordo com a especificidade do(a) estudante <br>
                            ( ) Retirada de objetivos propostos no currículo escolar <br>
                            ( ) Introdução de objetivos específicos, complementares e/ou alternativos. <br>
                </td>
            </tr>
             <tr>
                <td>
                    Descrever/Especificar as adaptações selecionadas:
                </td>
            </tr>
            <tr>
                <td>
                        3. Adaptações de conteúdo <br>

                            ( ) Priorização de conteúdos <br>
                            ( ) Reformulação da sequência dos conteúdos <br>
                            ( ) Retomada de determinados conteúdos, garantindo seu domínio e consolidação <br>
                            ( ) Eliminação de conteúdos secundários, para dar enfoque mais intensivo e prolongado a conteúdos mais básicos e essenciais no currículo <br>
                            ( ) Introdução de conteúdos específicos, complementares ou alternativos. <br>

                </td>
            </tr>
             <tr>
                <td>
                    Descrever/Especificar as adaptações selecionadas:
                </td>
            </tr>
            <p>
                * Observação: Se um objetivo for eliminado do plano de ensino, o conteúdo correspondente a ela também deve ser eliminado. Da mesma forma, se houver introdução de objetivos, haverá introdução de conteúdos correspondentes a eles.
            </p>
            <tr>
                <td>
                        4. Adaptações do método de ensino e da organização didática <br>

                            ( ) Modificação de procedimentos / estratégias de ensino. <br>
                            ( ) Adoção de métodos, procedimentos e atividades alternativas e/ou complementares às previstas. <br>
                            ( ) Organização diferenciada da sala de aula. <br>
                            ( ) Adaptação de materiais. <br>
                            ( ) Utilização de recursos específicos de acesso ao currículo. <br>
                </td>
            </tr>
             <tr>
                <td>
                    Descrever/Especificar as adaptações selecionadas:
                </td>
            </tr>
            <tr>
                <td>
                        5. Adaptações do sistema de avaliação <br>

                            ( ) Adaptação e/ou modificação de técnicas, instrumentos, procedimentos e critérios. <br>
                            ( ) Introdução de critérios específicos de avaliação. <br>
                            ( ) Necessidade de Avaliação em espaço diferente dos colegas. <br>
                            ( ) Eliminação de critérios gerais de avaliação. <br>
                            ( ) Modificação dos critérios de promoção. <br>
                </td>
            </tr>
             <tr>
                <td>
                    Descrever/Especificar as adaptações selecionadas:
                </td>
            </tr>
            <tr>
                <td>
                        6. Adaptações de temporalidade <br>

                            ( ) Aumento do Tempo para atividades e avaliações. <br>
                            ( ) Aumento do tempo para trabalhar determinados objetivos/conteúdos. <br>
                            ( ) Diminuição do tempo para trabalhar determinados objetivos/conteúdos. <br>
                            ( ) Aumento do tempo do estudante em uma série (Ex. 2 anos em uma série, com priorização de disciplinas/conteúdos/habilidades em cada ano). <br>
                            ( ) Aceleração do estudante para série posterior (Respeitando à faixa etária e especificidades do estudante). <br>
                </td>
            </tr>
             <tr>
                <td>
                    Descrever/Especificar as adaptações selecionadas:
                </td>
            </tr>
        </table>

        <table>
            <tr>
                <th>
                    Outras atividades / acompanhamentos a serem desenvolvidos
                </th>
            </tr>
            <tr>
                <td>
                        1. Atividades Complementares / Serviços a serem desenvolvidos dentro da escola, ou com encaminhamento (fora da escola). <br>
                        Ex. Atendimento Educacional Especializado – AEE, Atendimento Individualizado pelo(a) professor(a) no contraturno, apoio pedagógico, monitoria, recuperação, profissional de apoio, outros.
                </td>
            </tr>
            <tr>
                <td>

                </td>
            </tr>
            <tr>
                <td>
                    Trabalho com a turma sobre respeito às diferenças e diversidade (quando necessário).
                </td>
            </tr>
            <tr>
                <td>

                </td>
            </tr>
        </table>

        <table>
            <tr>
                <td>
                    PLANEJAMENTO EDUCACIONAL INDIVIDUALIZADO
                </td>
            </tr>
            <tr>
                <td>
                    PLANEJAMENTO PARA O ENSINO E APRENDIZAGEM DE HABILIDADES GERAIS
                </td>
            </tr>
            <tr>
                <td>
                    HABILIDADES
                </td>
                <td>
                    METAS A CURTO PRAZO
                </td>
                <td>
                    METAS E MÉDIO PRAZO
                </td>
                <td>
                    METAS E LONGO PRAZO
                </td>
            </tr>
            <tr>
                <td>

                </td>
                <td>

                </td>
                <td>

                </td>
                <td>

                </td>
            </tr>
        </table>

        <br>

        <table>
            <tr>
                <td>
                    HABILIDADES ACADÊMICAS – POR COMPONENTE CURRICULAR QUE NECESSITAR DE ADAPTAÇÃO INDIVIDUALIZADA.
                </td>
            </tr>
            <tr>
                <td>
                    Componente Curricular:
                </td>
                <td>
                    Necessidade de Adaptações Curriculares:
                    ( ) Acesso ao Currículo        ( ) Conteúdos    ( ) Objetivos <br>
                    ( ) Método e Org. Didática            ( ) Temporalidade ( ) Avaliação
                </td>
            </tr>
            <tr>
                <td>
                    Habilidades Esperadas para o estudante com deficiência / necessidades específicas no componente curricular:
                </td>
            </tr>
            <tr>
                <td>
                    Facilidades e dificuldades do estudante com deficiência / necessidades específicas no componente curricular (Considerar Avaliação Diagnóstica, Contato com a Família e outros profissionais, quando houver)
                </td>
            </tr>
            <tr>
                <td>
                    Metas para a turma
                </td>
                <td>
                    Metas específicas para o estudante com deficiência/necessidades específicas
                </td>
            </tr>
            <tr>
                <td>
                    Procedimentos Metodológicos e Estratégias a serem utilizadas:
                </td>
            </tr>
            <tr>
                <td>
                    Avaliação (Descrever como será e quais adaptações)
                </td>
            </tr>
        </table>

        <br>

        Local – BA, <> de <> de <>
        <br>
        Assinatura dos Responsáveis pela elaboração do PEI:
        <br>
        Assinatura de ciência e concordância dos pais ou responsáveis pelo estudante:
        <br>
        Assinatura da Gestão da Unidade Escolar:
    </body>
</html>